.main-container header {
    background: -moz-linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(26, 41, 128, 1)), color-stop(100%, rgba(38, 208, 206, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* ie10+ */
    background: linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#26D0CE', endColorstr='#1A2980', GradientType=1);
    /* ie6-9 */
    padding-bottom: 150px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.main-container header .logo img {
    padding: 10px;
}

.main-container header .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container header .box p {
    color: #ffffff;
    font-size: 30px;
}

.main-container .box-terms {
    margin: 0 auto;
}

.main-container .box-terms .terms {
    margin: 0 auto;
    max-width: 800px;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}

.main-container .box-terms .terms h1 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
}

.main-container .box-terms .terms p {
    text-align: justify;
    font-size: 22px;
}

.main-container .box-terms .terms .box-form {
    margin: 0 auto;
}

.main-container .box-terms .terms .box-form .form-check {
    box-sizing: border-box;
    margin: 0 auto;
    float: left;
    margin-left: 20px;
}

.main-container .box-terms .terms .box-form .form-check label {
    margin-bottom: 0;
    margin-left: 5px;
}

.main-container .box-terms .terms .box-form .form-check,
.main-container .box-terms .terms .box-form .btn {
    display: inline-flex;
}

.main-container .box-terms .terms .box-form .btn {
    float: right;
    margin-right: 20px;
}

.main-container .none{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.main-container .none #message{
    padding: 10px;
    margin:0 auto;
    max-width: 30%;
}

.red{
    border:1px solid red;
    background-color: pink;
}

.green{
    border:1px solid darkgreen;
    background-color:lightgreen;
}

.main-container .none #message p{
    text-align: center;
    font-weight: 700;
    font-size:14px;
    margin-top: 20px;
}

.main-container .none #list{
    width:60%;
    margin:0 auto;
    

}


.main-container .none #list ul li{
    width: 30%;
    display:inline-flex;
    box-sizing: border-box;
    margin-right: 20px;
    text-align: left;
    font-size: 18px;
}

.main-container .none #list ul:nth-child(even){
    background-color: #2185AB;
    color:#ffffff;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px){
    .main-container .none #list{
        width: 100%
    }

    .main-container .none #list ul li{
      width:30%;
      font-size: 16px;
    }

    .main-container .none #list h2,
    .main-container .none #list ul{
        padding-left: 10px;
    }

}

@media only screen and (max-width: 999px) and (min-width: 800px){
    .main-container .none #list{
        width:100%;
    }

     .main-container .none #list ul li{
      width:25%;
      font-size: 16px;
    }
    
     .main-container .none #list h2,
     .main-container .none #list ul{
        padding-left: 10px;
     }
}

@media only screen and (max-width: 799px) and (min-width: 640px){
    .main-container .none #list{
        width: 100%;
    }

     .main-container .none #list h2,
     .main-container .none #list ul{
        padding-left: 10px;
     }


   .main-container .none #list ul li{
      width:30%;
      font-size: 16px;
    }
}

@media only screen and (max-width: 639px) and (min-width: 592px){
     .main-container .none #list{
        width: 100%;
    }

     .main-container .none #list h2,
     .main-container .none #list ul{
        padding-left: 15px;
     }


   .main-container .none #list ul li{
      width:26%;
      font-size: 16px;
    }
}

@media only screen and (max-width: 586px) and (min-width: 360px){
    .main-container header .box{
        display:none;
    }
    .main-container header{
        padding-bottom: 0;
    }

    .main-container header .logo img{
        margin:0 auto;
        display: block;
    }

    .main-container .box-terms .terms h1 {
       font-size: 20px;
    }

    .main-container .box-terms .terms p {
        
        font-size: 18px;
    }

    .green{
        display: none;
    }

     .main-container .none #list{
        width: 100%;
    }

     .main-container .none #list h2,
     .main-container .none #list ul{
        padding-left: 15px;
     }


   .main-container .none #list ul li{
      width:26%;
      font-size: 16px;
    }


}