.main-container header {
    background: -moz-linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(26, 41, 128, 1)), color-stop(100%, rgba(38, 208, 206, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* ie10+ */
    background: linear-gradient(45deg, rgba(26, 41, 128, 1) 0%, rgba(38, 208, 206, 1) 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#26D0CE', endColorstr='#1A2980', GradientType=1);
    /* ie6-9 */
    padding-bottom: 150px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.main-container header .logo img {
    padding: 10px;
}

.main-container header .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container header .box p {
    color: #ffffff;
    font-size: 30px;
}

.main-container .box-terms {
    margin: 0 auto;
}

.main-container .box-terms .terms {
    margin: 0 auto;
    max-width: 800px;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}

.main-container .box-terms .terms h1 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
}

.main-container .box-terms .terms p {
    text-align: justify;
    font-size: 22px;
}

.main-container .box-terms .terms .box-form {
    margin: 0 auto;
}

.main-container .box-terms .terms .box-form .form-check {
    box-sizing: border-box;
    margin: 0 auto;
    float: left;
    margin-left: 20px;
}

.main-container .box-terms .terms .box-form .form-check label {
    margin-bottom: 0;
    margin-left: 5px;
}

.main-container .box-terms .terms .box-form .form-check,
.main-container .box-terms .terms .box-form .btn {
    display: inline-flex;
}

.main-container .box-terms .terms .box-form .btn {
    float: right;
    margin-right: 20px;
}